*{
    box-sizing: border-box;
}
html , body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.register , .login {
    margin: 10vh auto;
    width:80vw;
    height: 80vh;
    border: 2px solid   #000;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(190, 187, 187, .6);
    display: flex;
}
.register-cover , .login-cover{
    background-image:url('./image/background.jpeg');
    background-size: cover;
    width: 50%;
    height: 100%;
}
.register-content , .login-content{
    text-align: center;
    width: 50%;
}
.register-content h1 , .login-content h1 {
    font-family: Roboto;
    font-size: 34px;
    text-transform: uppercase;
}
.register-content p , .login-content p {
    font-family: Roboto;
    font-size: 24px;
}
.regis{
    padding: 5px 10px;
    width: 100%;
}
form {
    margin:auto  5px;
    width: 100% ;
    display: block;
    padding: 5px 10px;
    height: 100%;
}
form .form-group{
    display : flex;
    flex-wrap: wrap;
    margin: 8px;
    border-radius: 8px;
    justify-content: flex-start;
    width: 90%;   
}
form .form-group label {
    font-size: large;
    width: 20%;
    text-align: left;
}
form .form-group input {
    width:80% ;
    border-radius: 8px;
    height: 40px;
}
form .form-group textarea{
    width: 70%;
    height: 80px ;
    border-radius: 8px;
    border: 2px solid #313;
}
form .signup , .signin{
    width: 30%;
    padding:5px;
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #313;
}
.msg {
    width: 100%;
}
/* ================== layout-app =========== */
.layout-app {
    display: flex;
}