.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-shadow: 0px 1px 6px #acb7c4;
}
.navbar_left {
    margin-left:10px ;
}
.navbar_left b {
    color: #1877f2;
}
.navbar_right {
    display: flex;
    gap: 10px;
}
.navbar_profile_search {
    display: flex;
    align-items:center;
    height: 30px;
    background-color: #f4f5f8;
    border-radius: 6px;
    padding-left: 6px;
}
.navbar_profile_search input {
    margin-left: 6px;
    border: none;
    background-color: transparent;
}
.navbar_profile_search input:focus {
    outline: none;
}
.navbar_profile_search input::placeholder {
    border: none;
    color: #acb7c4;
    font-size: 12px;
}
.gray {
    color: #acb7c4;
}
.small {
    font-size: 12px;
}
.navbar_profile_button {
    border : 1px solid #fff;
    cursor: pointer;
    background-color: #1877f2;
    color: #fff;
    border-radius: 6px;
    height: 30px;
    padding: 8px;
    transition: all 1s;
}
.navbar_profile_button:hover {
    border : 1px solid #056bf1;
}
.navbar_profile_image {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 10px;
}
.navbar_profile_image img {
    width: 100%;
    height: 100%;
}


