.new_post {
    max-width: 500px;
    margin: 10px;
    color:#000;
    box-shadow: 0 1PX 6PX -4PX  #54595e;
    padding: 10px;
    border-radius: 10px;
}
.new_post_details {
    display: flex;
    width: 100%;
}
.new_post_textbox {
    width: 100%;

}
.new_post_textbox textarea{
    line-height: 1.5;
    font-size: 14px;
    border: 1px solid rgb(2355, 255, 255);
    padding: 10px;
    width: 100%;
}
.new_post_textbox textarea::placeholder {
    color: rgb(145, 142, 142);
}
.new_post_textbox textarea:focus{
    outline: none;
    padding: 10px;
    width: 100%;
}
.new_post_profile_image {
    width: 50px;
    height: 50px;
    background-color: orangered;
    border-radius: 6px;
    margin-right: 10px;
    overflow: hidden;
}
.new_post_profile_image img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.new_post_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.new_post_buttons button{
    cursor: pointer;
    background-color: #1877f2;
    color: #fff;
    margin-top: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
}